<ion-header [translucent]="true" collapse="condense">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card style="align-self: center;">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="person-circle-outline"></ion-icon> Utilisateur
        </ion-card-title>
        <ion-card-subtitle>{{ userName }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div id="noUser" *ngIf="!isUserConnected">
          <ion-item>
            <ion-label>Mail</ion-label>
            <ion-input inputmode="email" placeholder="mail.ex@mail.com" [(ngModel)]="login.mail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Mot de passe</ion-label>
            <ion-input type="password" placeholder="password" [(ngModel)]="login.Password"></ion-input>
          </ion-item>
          <ion-button expand="block" fill="solid" (click)="connect()">Se connecter</ion-button>
          <ion-button expand="block" fill="solid" color="medium" (click)="openModal()"> S'Inscrire</ion-button>
        </div>
        <div id="userInfo" *ngIf="isUserConnected">
          <ion-item>
            <ion-label>Nom</ion-label>
            <ion-input readonly [(ngModel)]="userAccount.User.LastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Prénom</ion-label>
            <ion-input readonly [(ngModel)]="userAccount.User.Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Mail</ion-label>
            <ion-input readonly inputmode="email" [(ngModel)]="userAccount.User.Mail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Téléphone</ion-label>
            <ion-input readonly inputmode="tel" [(ngModel)]="userAccount.User.Phone"></ion-input>
          </ion-item>
          <ion-button expand="block" fill="solid">Modifier</ion-button>
          <ion-button expand="block" fill="solid" (click)="disconnect()" color="danger">Se Déconnecter</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="share-social-outline"></ion-icon> Organisation
        </ion-card-title>
        <ion-card-subtitle>Aucune Organisation</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div id="noOrga" *ngIf="!isOrgaConnected">
          <ion-button expand="block" fill="solid" (click)="showHideOrgaForm()">Rejoindre</ion-button>
          <ion-button expand="block" fill="solid" color="medium">Créer une Organisation</ion-button>
        </div>
        <div id="userInfo" *ngIf="isOrgaConnected">
          <ion-item>
            <ion-label>Nom</ion-label>
            <ion-input readonly>GJV</ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Administrateur</ion-label>
            <ion-input readonly inputmode="email" value="admin.mail@mail.com"></ion-input>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button expand="block" fill="solid" (click)="getAllAccounts()" color="medium">Test</ion-button>
</ion-content>